<p><strong>FAQ:</strong></p>
<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<p><strong>1. I already sent you quotes earlier? Why again?</strong></p>
<p>Thank you. Those who responded, sent their own format in pdf or image etc. So was unable to consolidate as I request quote from about 200 vendors. So this time, hoping &nbsp;form will help along with tamil.</p>
<p>Besides, one important reason being, my potential client for export is asking for more models and also both normal and high quality. He intends to sell to restaurants abroad in mass quantities. So I am having to bug you again for a better quotation including more models.</p>
<p><strong>2. Who are you?</strong></p>
<p>I am starting up this business quitting 11 years of software job. I have obtained export license (IEC), and got a potential client abroad, who is interested to sell to retailers there in mass quantities. Since getting order is most challenging but important first step in exports, I am first trying to resell than manufacturing my own plates.</p>
<p><strong>3. Why are you messaging? Why not just call?</strong></p>
<p>Initially I did contact few suppliers but below are the problems because areca is vastly unorganized sector.</p>
<ol>
<li>Many do not reply for mails as they probably rarely check</li>
<li>Those replying, send their own catalogues. This makes consolidation difficult.</li>
<li>Often many have different sizes than asked, thus fragmenting suppliers, creating inconsistency in size, quality etc.</li>
<li>They do not give full information upfront and difficult to negotiate with each.</li>
<li>No timely responses, so having to search more for better suppliers.</li>
<li>Supply is far lesser than demand, so many avoid new customers.</li>
</ol>
<p><strong>4. Ok, but how Whatsapp helps?</strong></p>
<p>I am trying to reach as many vendors as possible, with a hope to find a couple of better suppliers who partly or wholly</p>
<ol>
<li>provide timely responses</li>
<li>provide information as requested in required format</li>
<li>polite, flexible and provide good value for money</li>
<li>have room for new customers</li>
<li>committed&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</li>
</ol>
<p>Traditional mail or sms, often &nbsp;go unnoticed and I have no way of knowing if they saw messages also. Via Whatsapp I know, how many I am reaching, how many care to reply or update form, and their characteristics. Initially sent only to coimbatore vendors, and now to many TN vendors (got about 200 only so far in internet)</p>
<p><strong>5. What next?&nbsp; &nbsp; &nbsp;</strong> &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>As I said, I am in touch with a potential client from Portugal, who intends to sell across Europe, in mass quantity to stores and restuarants. He initally needs price list and sample models which I need to send him before this month end. &nbsp;Further list of models he gave is also huge. &nbsp;We are expecting huge order next year, but want to be prepared with this supply chain ready. I will share more details, once your quotes are interesting and we proceed with further discussions.</p>
<p><strong>6. Whew, such a big explanation..</strong></p>
<p>Yes, so you don&rsquo;t think its another spam message. Its new approach, but genuine.</p>