<p><strong>கேள்விகள்:</strong></p>
<p><strong>1. ஆனால் நான் ஏற்கனவே பட்டியல் அனுப்பினேனே?</strong></p>
<p>நன்றி. சென்ற முறை, பதிலளித்தவர்களில் பலர், சொந்த நடையில் (pdf, excel, mail, images, etc) அனுப்பியதால், செய்திகளை கோர்வையாக்க முடியவில்லை. இம்முறை படிவம் என்பதால், கோர்வை செய்வதும் எளிது. &nbsp;</p>
<p>மேலும், என்னுடைய வாடிக்கையாளர் (இறக்குமதியாளர்), உயர்தரம், நடுத்தரம் இரண்டும் வேண்டும் என்கிறார். மேலும் நிறைய வகை தட்டுகளின் விலையும் கேட்டுள்ளார். அவர் நாட்டில் உள்ள உணவகங்களில், மொத்தமாக விற்பது அவர் நோக்கம். இதனாலேயே, நான் மறுபடியும் உங்களிடம் பட்டியல் கேட்க நேரிடுகின்றது.</p>
<p><strong>2. நீங்கள் யார்?</strong></p>
<p>ஒரு தொழில் முனைவோன். 11 வருட சாப்ட்வேர் வேலையை விட்டு விட்டு, பாக்கு மட்டை தொழிலை ஆரம்பித்துள்ளேன். IEC எடுத்தாகிவிட்டது. ஐரோப்பாவில் ஒரு இறக்குமதியாளர் தொடர்பில் உள்ளார். ஏற்றுமதி வணிகத்தில், பணிப்பு கிடைப்பதே முதன்மையான தேவை என்பதால், முதலில் உற்பத்தியில் இறங்காமல் வாங்கி விற்க முயல்கிறேன்.</p>
<p><strong>&nbsp;3. ஏன் குறுஞ்செய்தி? நேரிடையாக பேசலாமே?</strong></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; லாம் தான். அதையும் செய்தேன். அனால் பின்வரும் சிரமங்களை சந்திக்கிறேன்.</p>
<ol>
<li>பலர் கவனிக்காததால், பதிலனுப்பவதில்லை.</li>
<li>பதில் அனுப்புவர்களும், அவர்களுடைய சொந்த நடையில் உள்ள பட்டியலை அனுப்புகிறார்கள். இது பல பேரிடம் சேகரிக்கும் செய்திகளை கோர்வைஆக்குவதை சிரமமாக்குகிறது.</li>
<li>பலர் பல விதமான அளவுகள் வைத்து இருப்பதால், பல அளவுகளை தனித்தனியாக வாங்க வேண்டி உள்ளது. இது தட்டுகளில் தரம் மற்றும் அளவு சமன்பாடுகளை சிதைக்கிறது.</li>
<li>பலர் கேட்ட விவரங்களை முழுமையாக கொடுப்பதில்லை</li>
<li>தாமதமான பதில்கள்</li>
<li>இத்தொழிலில் தேவையை விட அளிப்பு குறைவாக உள்ளதால், பலர் புது வாடிக்கையாளர்களை புறக்கணிக்கிறார்கள்.</li>
</ol>
<p><strong>4. சரி, அதற்கு வாட்ஸ்அப் குறுஞ்செய்தி எப்படி உதவும்?</strong></p>
<p>கீழ்க்கண்ட குணாசதியங்கள் உள்ள உற்பத்தியாளர்களை தேடுகிறேன்.&nbsp; &nbsp; &nbsp;</p>
<ol>
<li>தாமதமில்லா பதில்</li>
<li>கேட்ட நடையில் விலை பட்டியல்</li>
<li>நல்ல விலை மற்றும் மதிக்கும் பண்பு</li>
<li>புது வாடிக்கையாளர்கள் தேவைப்படுபவர்கள்</li>
<li>அர்ப்பணிப்பு&nbsp; &nbsp; &nbsp; &nbsp;</li>
</ol>
<p>குறைந்த நேரத்தில், அதிக பட்ச வணிகர்களை இச்செய்தி சென்றடைய வேண்டும். மின் அஞ்சல் அல்லது எஸ்.எம்.எஸ்&nbsp;என்றால் பலர் கவனிப்பதில்லை. செய்தித்தாள் என்றால்., எவ்வளவு பேர் பார்த்தார்கள், என்று தெரியாது. இப்பொழுது பலரிடம் செல்லிடைபேசி உள்ளது. அவர்கள் என் குறுஞ்செய்தியை பார்த்தார்களா என்று என்னால் வாட்ஸ்அப்பில் பார்க்க முடியும். எப்படி இவ்வளவு செல்லிடை பேசி எண்கள் எங்கே எடுக்க வேண்டும், இவ்வளவு பேருக்கு ஒரே நேரத்தில் அனுப்ப வேண்டும் என்ற பிரிச்சனையை சரி செய்தால் போதும். &nbsp;முதலில் கோவை வணிகர்களுக்கு அனுப்பியதுடன் இப்பொழுது மொத்த தமிழ் நாட்டில் உள்ள பாக்கு மட்டை தட்டு வணிகர் எண்களுக்கு அனுப்புகிறேன் (மொத்தம் சுமார் 200 தான் இணையத்தில் கிடைத்தது).</p>
<p><strong>&nbsp;5. அடுத்து என்ன?</strong></p>
<p>&nbsp;மேலே சொன்னபடி,அந்த இறக்குமதியாளர் ஐரோப்பாவில் மொத்தமாக கடைகளுக்கு விற்க நினைக்கிறார். அவருக்கு விலை பட்டியலும், மாதிரிகளும் இந்த மாதத்திற்குள் நான் அனுப்ப வேண்டும். அவர் முயற்சி காரணமாக அடுத்த வருடம் நல்ல பணிப்பு கிடைக்கும் என்று எதிர்பார்க்கிறோம். அதற்குள், இங்கே நல்ல உற்பத்தியாளர்களை அணுகி, புரிந்துணர்வுடன் உற்பத்தி திட்டங்களை தயாராக வைத்து இருக்க வேண்டும். விலை பட்டியலை நெறிவு செய்ய வேண்டும். மேலும் விபரங்கள், உங்கள் விலை பட்டியல் எங்களுக்கு ஏற்றவாறு இருந்தால், நாம் மேற்கொண்டு பேசும் பொழுது பகிர்கிறோம். ஆகவே, உங்கள் குறைந்த பட்ச விலையை குறிப்பிடவும்.&nbsp;&nbsp;</p>
<p><strong>6. யப்பா, இவ்ளோ பெரிய விளக்கமா?</strong></p>
<p>ஆமாம். இது ஏதொ புரியாத விளம்பர செய்தி என்று நீங்கள் ஒதுக்கி விடக்கூடாது என்றே. இது புதுமையான ஆனால் உண்மையான அணுகுகுமுறை.&nbsp;</p>