<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/head.ejs%>

</head>
<body>
    
        <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 text-center">
                  <h2>Welcome/வருக</h2>
                    <span class="font-small">
            Bootstrap  Snippet by <a href="http://htmlsnipp.com/" style="color:#000" target="_blank">HtmlSnipp.com</a>
              </span>
                  </div>
            
                </div>
                <div class="row text-center text-capital">
                  <div class="col-md-4">
            
                  </div>
                  <div class="col-md-4">
                   <div class="team-wrapper">
                                <div class="profile-inner">
                                </div>
                                <div class="description">
                                   <h3>Julia Williams </h3>
                                    <h5> <strong> Sr. Graphic Designer </strong></h5>
                                    <hr />
                                   <p  >
                                       Fames ac ante faucibus interdum et malesuada fames ac ante faucibus.
                                   </p>
                                   <hr>
                                   <h5 > <i> 5+ Years Experience </i></h5>
                               </div>
                                </div>
            </div>
            
                  <div class="col-md-4">
            
                  </div>
                </div>
            
              </div>      

    <!-- <% include partials/jsincludes.ejs%>     -->
</body>
</html>