<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/head.ejs%>

</head>
<body>
    
<div class="container-fluid">
  
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Welcome</h2>
      <span class="font-small">
        Explanation
      </span>
    </div>
  </div>
  <div class="row text-capital">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="team-wrapper">
        <div class="profile-inner">
        </div>
        <div class="description">
          <% include partials/description_english.ejs%>
        </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
  </div>
  
</div>      

    <!-- <% include partials/jsincludes.ejs%>     -->
</body>
</html>